---
title: "龙套角色"
layout: default
permalink: "/walk-on.html"
---

<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-12">
      <h4 class="font-weight-bold spanborder text-danger">龙套角色</h4>
      {% for post in site.categories.walk-on %}
      {% if post.title != null %}
        {% if group == null or group == post.group %}
        <div class="row gap-y listrecent listrecent listauthor">
          {% for opera in post.operas %}
              <div class="col-lg-4 mb-4">
                  <div class="p-4 border rounded">
                  <div class="maxthumb">
                  <!-- <img alt="{{ opera[1].title }}" src="{{site.baseurl}}/{{ opera[1].image }}" class="rounded-circle" height="80" width="80"> -->
                  <img alt="{{ opera[1].title }}" src="{{site.baseurl}}/{{ opera[1].image }}">
                  </div>
                  <!-- <a class="ml-3" target="_blank" href="{{ opera[1].weibo }}"> -->
                  <h4 class="text-dark mt-0 mb-0"> {{ opera[1].title }} 饰 {{opera[1].role}}</h4>
                  <!-- </a> -->
                  <div class="excerpt">{{ opera[1].desc }}</div>
              </div>
        </div>
        {% endfor %}
        </div>
        {% endif %}
      {% endif %}
      {% endfor %}

      </div>
      
      <!-- <div class="col-md-4">
      {% include sidebar-featured.html %}    
      </div> -->
      
  </div>
</div>