<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">首页</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/starring.html">主演大戏</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/excerpt.html">折子戏</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/walk-on.html">龙套角色</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/summary_2013_2017">演出记录</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/honors/">荣誉奖项</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">资源合作</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">知识科普</a>
</li>
<li class="nav-item">
<a  class="nav-link" href="{{site.baseurl}}/index.html">她与生活</a>
</li>
<li class="nav-item">
<a  class="nav-link" href="{{site.baseurl}}/contact.html">粉丝云朵</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/about.html">关于</a>
</li>

