<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">主页</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">主演大戏</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">折子戏</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">龙套角色</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="{{site.baseurl}}/index.html">越剧科普</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="{{site.baseurl}}/index.html">她与生活</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="{{site.baseurl}}/index.html">关于我们</a>
</li>

