---
layout: default
---


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
        <h4 class="font-weight-bold spanborder text-danger">个人奖项/荣誉</h4>
        <span class="text-muted mb-1">以下信息来源于：{{page.author}}</span>

        <div class="table-holder scroll-table">
          <table class="fancy table">
            <thead class="thead-light">
              <tr>
                <th style="width: 15%;">年份</th>
                <th style="width: 40%;">奖项/荣誉</th>
                <th style="width: 30%;">剧目角色</th>
                <th style="width: 15%;">备注</th>
              </tr>
            </thead>

            <tbody>
              <div class="page-content">
                {{ content }}
              </div>
            </tbody>

          </table>
        </div>
        </div>      
    </div>
</div>
