---
layout: default
---


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
        <h4 class="font-weight-bold spanborder text-danger">演出记录：{{page.title}}</h4>

        <div class="table-holder scroll-table">
          <table class="fancy table">
            <thead class="thead-light">
              <tr>
                <th style="width: 20%;">时间</th>
                <th style="width: 20%;">剧目</th>
                <th style="width: 40%;">地点/活动</th>
                <th style="width: 20%;">备注</th>
              </tr>
            </thead>

            <tbody>
              <div class="page-content">
                {{ content }}
              </div>
            </tbody>

          </table>
        </div>

        </div>      
    </div>
</div>
